@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$primary-font-color: red;

// *{
//   border: 1px solid black;
// }

body {
  background-color: black;
  color: $primary-font-color;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  max-width: 1024px;
  align-items: center;
  flex-direction: column;
}

hr {
  width: 90%;
  border-bottom: 1px solid black;
  background-color: black;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: radial-gradient(circle, #4C7677, #254142);
  background-repeat: no-repeat;
  background-size: 100vw;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  text-align: center;
  img {
    width:100vw;
  }
  #timer {
    width:60%;
    font-size: 60px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .timerBoxes {
      // border: 1px solid white;
      padding: 20px;
      border-radius: 5px;
      width: 18%;
      background-color: rgba(255,255,255,.30)
    }
    }
    h4 {
      font-size: .6em;
      text-align: center;
      font-family: 'Open Sans', sans-serif;
    }
}


.title{
  margin-top: 50px;
  margin-bottom: 50px;
}

.middleContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

.about {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: black;
  padding: 20px;
  width: 90%;
  hr {
    width: 100%;
    border-bottom: 1px solid black;
  }
}
.availablePlatforms {
  justify-content: center;
  display: flex;
  width: 75%;
  border: 1px solid red;
  flex-wrap: wrap;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #FF6300;
  color: white;
  border-radius: 10px;
  h3 {
    display: flex;
    justify-content: center;
    width: 49%;
  };
}


.reviewsDiv {
  width: 90%;
  display: flex;
  flex-direction: column;
  p {
    padding-left: 20px;
    padding-right: 20px;
  }
  .leftColumnReview {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
    img {
      width: 40%;
      // height: 50px;
    }
  }
  .rightColumnReview {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
    img {
      width:40%;
      // height: 50px;
    }
  }
}

.studioDiv {
  width: 90%;
  height:560px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-image: url("../assets/images/blackforest.png");
  .leftStu{
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
    text-align: center;
    }
  }
  .rightStu{
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      text-align: center;
    }
  }
}

// @media screen and (min-width: 300px) {
//   #timer{
//     display: none;
//   }
// }
